.navbar{ background:#0080C6;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #325C74; color: #ffffff; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-brand:hover{ background: #325C74; color: #ffffff; }
.navbar-toggler{background:#fff !important;}
.bg-dark{
background-color:#343a40!important
}
.bg-primary{
background-color:#007bff!important
}

/*header style*/
.header{
 background-image: url('book.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.6);
}

.description{
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
}

.description h1{
 color:#0080C6 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #0080C6;
 background:#0080C6;
 color:#fff;
}

.pdf_summarize{
	position: relative;
	background-image: url('white.jpg');
}

#pdf_submit_form {
  	top: 100%;
  	transform: translateY(0%);
}

#btn_submit_pdf {
  	top: 100%;
  	transform: translateY(0%);
}

#response_pdf {
  	top: 100%;
  	transform: translateY(0%);
}

.type_in_to_summarize{
	background-image: url('white_paper.jpg');
	position: relative;
}

.text_input {
	display:block;
	margin-left: auto;
	position: absolute;
  	top: 25%;
    left: 13%;
}

#response {
	margin-left: auto;
	position: absolute;
  	top: 40%;
    left: 20%;
    width: 60%;
}

#btn_submit_text {
	margin-left: auto;
	position: absolute;
  	top: 25%;
    right: 13%;
    border:1px  solid #0080C6;
    background:#0080C6;
    color:#fff;
}
